################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/plotBrembs/FileContentIndex/2dbe2c07-ddd7-4cda-966b-8bd02fe841d9.vsidx
